body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center;
    font-size: 200px;
}

#square {
    background: blue;
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
    margin-left: 70px;
}

#circle {
    background: red;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
    margin-left: 70px;
}

#triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid lightblue;
    margin-bottom: 50px;
    margin-left: 70px;
}

.head1 {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid purple;
    margin-bottom: 50px;
    margin-left: 70px;
}

#rectangle {
    width: 25rem;
    height: 10rem;
    background: indigo;
    margin-left: 70px;
    margin-bottom: 50px;
}

#oval {
    width: 180px;
    height: 100px;
    background: crimson;
    border-radius: 150px / 90px;
    margin-left: 70px;
    margin-bottom: 100px;
}

#triangle2 {
    width: 0px;
    height: 0px;
    border-top: 150px solid crimson;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    margin-bottom: 50px;
    margin-left: 70px;
}

#lefttriangle {
    width: 0;
    height: 0;
    border-right: 100px solid blue;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    margin-left: 70px;
}